{{!-- {{outlet}} --}}
{{input value=model.title placeholder="Book Title Here" enter='save'}}
{{input value=model.author placeholder="Author Here" enter='save'}}
<button {{action 'save' model}}> Add Books</button>
