<div>
  <h2>Your Reads</h2>
  {{!--Grab books from model and each through to show book title  --}}
  {{#each model as |book|}}
    <h3>
      {{!--use link-to to link to each individual book by clicking on title  --}}
      {{#link-to 'book' book}}
      {{book.title}}
      {{/link-to}}
    </h3>
  {{/each}}
</div>

{{#link-to 'books.new'}}<button>Add Book</button>{{/link-to}}
{{outlet}}
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
