<div>
  <h2>Your Reads</h2>
  {{#each model as |book|}}
    <h3>
      {{!-- {{#link-to 'book' list}} --}}
      {{book.title}}
      <button {{action 'deleteBook' book}}>Delete Book</button>
      {{!-- {{/link-to}} --}}
    </h3>
  {{/each}}
</div>
{{#link-to 'books.new'}}<button>Add Book</button>{{/link-to}}

{{outlet}}
